.container__notifcation-box{
    width: 45vw;
    min-width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    // height: 90vh;
    // margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.75rem;
    width: 100%;
    // padding: 0.5rem 0;
    padding: 0;

    &__left-side{
        display: flex;
        align-items: center;
        gap:0.5rem;

        .notifications-label{
            color: $body-text-color;
            font-size: 1.44rem;
            font-weight: 800;
            vertical-align: middle;
        }

        .notifications-number{
            background-color: hsl(219, 85%, 26%);
            padding: 0.2rem 0.8rem;
            border-radius: 10px;
            color: hsl(0, 0%, 100%);
            vertical-align: middle;
            font-size: 0.8rem;
        }
        
    }
    &__right-side{
        display: flex;
        align-items: center;
        color: hsl(219, 12%, 42%);
        cursor: pointer;
    }
    &__right-side:hover{
        color: hsl(219, 85%, 26%);
    }
}

@media screen and (max-width:896px){
    .container__notifcation-box{
        width: 50%;
    }
}
@media screen and (max-width:480px){
    .container__notifcation-box{
        width: 100%;
    }
}